body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #013220; 
    color: white;
    text-align: center;
}

/* LOGO AREA */
.logo-container {
    margin-top: 20px;
}

.logo-container h1 {
    color: #F4D03F;
    font-size: 34px;
    margin: 10px 0 0;
    font-weight: bold;
}

.tagline {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
}

/* MENU SECTION */
.menu {
    margin-top: 30px;
    padding: 15px;
}

.menu h2 {
    color: #F4D03F;
    font-size: 28px;
    margin-bottom: 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    background-color: #145A32;
    padding: 12px;
    margin: 10px auto;
    border-radius: 6px;
    width: 80%;
    font-size: 18px;
    border: 1px solid #F4D03F;
}

/* FOOTER */
footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #0B3D20;
    font-size: 14px;
}
